* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
}

.main-header {
  width: 100%;
  height: 10%;
}

.main-nav {
  background: black;
}
.main-nav__items {
  list-style: none;
}

.main-nav__item {
  font-size: 16px;
  display: block;
  margin: 10px;
}

.main-nav__items a {
  text-decoration: none;
  color: white;
  padding: 15px 5px;
  margin: 0px;
}

.main-brand {
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

/* Mobile version */
.main-nav__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.main-nav__toggle {
  order: 1;
}
.main-nav__item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}

.main-nav__item.active {
  display: block;
}

.main-nav__toggle {
  cursor: pointer;
}

.main-nav__bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.main-nav__bars::before,
.main-nav__bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.main-nav__bars::before {
  top: 5px;
}

.main-nav__bars::after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .main-nav__items {
    justify-content: center;
  }
  .main-brand {
    flex: 1;
  }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
  .main-nav__item {
    display: block;
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
