.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 100%;
}

/* Mobile version */
.card-header {
  background: #f1f1f1;
  padding: 10px;
  text-align: start;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.card-header p {
  padding-top: 10px;
  padding-bottom: 0px;
}

.card-body {
  padding: 10px;
  background: #ccc;
  text-align: start;
}

.card-footer {
  padding: 10px;
  background: #616161;
  text-align: center;
}

@media (min-width: 468px) {
  .card {
    width: 400px;
  }
  .card-header {
    flex-direction: row;
    flex: 1;
    padding: 10px;
  }
  .card-header p {
    flex: 1;
    text-align: end;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
