#section-container {
  height: 100vh;
  width: 100%;
  margin-top: 38px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Mobile version */
.main-tagline {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(211, 211, 239);
  text-align: center;
  font-size: 3em;
  max-width: 75%;
  margin: auto;
}

.company-overview {
  display: flex;
  margin: 10px;
  width: 80%;
  border: 2px solid black;
  padding: 5px;
  background-color: black;
  border-radius: 2%;
  /* max-width: 600px; */
  margin-bottom: 10px;
}

.company-overview p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.company-office__picture img {
  width: 100%;
  min-width: 255px;
}

@media (min-height: 400px) and (orientation: landscape) {
  .main-tagline-container {
    margin-bottom: 10px;
  }
  .company-container {
    margin-bottom: 10px;
  }
  .main-footer {
    margin-top: -10px;
  }
  .main-tagline {
    font-size: 2rem;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
  }
  .company-overview img {
    min-width: 255px;
  }
}
@media (min-height: 600px) and (orientation: portrait) {
  .company-overview {
    flex-direction: column;
  }
  .main-tagline {
    font-size: 3em;
  }
  .company-overview img {
    margin-right: 10px;
  }
}

/* Tablet version */
@media (min-width: 1000px) and (min-height: 800px) and (orientation: landscape) {
  .main-tagline {
    font-size: 5em;
  }
  .company-overview {
    flex-direction: row;
    max-width: 1000px;
    min-width: 800px;
  }
  .company-overview img {
    margin-right: 10px;
    height: 320px;
    width: 480px;
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .company-overview {
    flex-direction: column;
    max-width: 800px;
    align-items: center;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .main-tagline {
    font-size: 6em;
  }
  #product-overview {
    margin-top: 58px;
  }
  .company-overview {
    flex-direction: row;
    max-width: 45%;
    min-width: 800px;
  }
  .company-overview img {
    margin-right: 10px;
    height: 320px;
    width: 480px;
  }
}
